flows/Profin_Report-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>asgnCreatedProducts</name>
        <label>asgnCreatedProducts</label>
        <locationX>661</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>VarMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!FinAccountData.GLS_NICKNAME__c} ; {!FinAccountData.FEC_APERTURA__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadCreatedProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgnVarMessage</name>
        <label>asgnVarMessage</label>
        <locationX>356</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>VarMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!FinAccountData.GLS_NICKNAME__c} ; {!FinAccountData.FEC_ACTIVACION__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadActivatedProducts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activated_Created_Products</name>
        <label>Activated/Created Products</label>
        <locationX>530</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Activated_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinAccountData.FEC_ACTIVACION__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FinAccountData.FEC_APERTURA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetActivatedProducts</targetReference>
            </connector>
            <label>Activated Products</label>
        </rules>
        <rules>
            <name>Created_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinAccountData.FEC_APERTURA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductosActivados</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCreatedProducts</targetReference>
            </connector>
            <label>Created Products</label>
        </rules>
    </decisions>
    <description>Envio de FInAccount y Account a través de Process Builder.
Para que profin puede ver el estatus de los leads convertidos y que tengan productos.</description>
    <formulas>
        <name>formulaNewLine</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ttNewLine},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ProductosActivados</name>
        <dataType>Boolean</dataType>
        <expression>LEN(TEXT({!FinAccountData.FEC_ACTIVACION__c})) &gt; 1</expression>
    </formulas>
    <interviewLabel>Profin Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Profin Report - Created/Activated Product v2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetActivatedProducts</name>
        <label>GetActivatedProducts</label>
        <locationX>357</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgnVarMessage</targetReference>
        </connector>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinAccountData.Customer__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>VarMessage</assignToReference>
            <field>Profin_Activated_Products__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCreatedProducts</name>
        <label>GetCreatedProducts</label>
        <locationX>655</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgnCreatedProducts</targetReference>
        </connector>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinAccountData.Customer__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>VarMessage</assignToReference>
            <field>Profin_Created_Products__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>LeadActivatedProducts</name>
        <label>LeadActivatedProducts</label>
        <locationX>354</locationX>
        <locationY>407</locationY>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinAccountData.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Executive__c</field>
            <value>
                <elementReference>AccountData.Ejecutivo_de_Cuenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profin_Activated_Products__c</field>
            <value>
                <elementReference>VarMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadCreatedProducts</name>
        <label>UpdateLeadCreatedProducts</label>
        <locationX>657</locationX>
        <locationY>405</locationY>
        <filters>
            <field>ConvertedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinAccountData.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Executive__c</field>
            <value>
                <elementReference>AccountData.Ejecutivo_de_Cuenta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profin_Created_Products__c</field>
            <value>
                <elementReference>VarMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Activated_Created_Products</startElementReference>
    <textTemplates>
        <name>ttNewLine</name>
        <text>-
-</text>
    </textTemplates>
    <variables>
        <description>Get fields from account</description>
        <name>AccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Fecha de activación del producto</description>
        <name>FechaActivacion</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Fecha de creación del producto</description>
        <name>FechaApertura</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinAccountData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BICE_Fin_Account__c</objectType>
    </variables>
    <variables>
        <name>FinAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Nombre de producto.</description>
        <name>GlosaProducto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Obtiene los productos ya ingresados en Lead convertido.</description>
        <name>LeadCreatedProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Obtener productos activados</description>
        <name>LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ProfinExecutive</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
